<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Yakıt Data Tablosu
    </div>
    <div class="card-body">
        <table id="datatablesSimple">
            <thead>
                <tr>
                    <th>Araba</th>
                    <th>Yakıt Ofisi</th>
                    <th>Yakıt Tipi</th>
                    <th>Alınan litre</th>
                    <th>Ödenen Miktar</th>
                    <th>Götürdüğü km</th>
                    <th>Alım Tarihi</th>
                </tr>
            </thead>
            <tbody>
                {% for fuel in fuel_data %}
                <tr>
                    <td>{{ fuel.car__car_name }}</td>
                    <td>{{ fuel.fuel_firm }}</td>
                    <td>{{ fuel.fuel_type }}</td>
                    <td>{{ fuel.fuel_volume }}</td>
                    <td>{{ fuel.fuel_cost }}</td>
                    <td>{{ fuel.car_km }}</td>
                    <td>{{ fuel.fuel_date }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#datatablesSimple').DataTable();
    });
</script>