<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Yakıt Data Tablosu
    </div>
    <div class="card-body">
        <table id="datatablesSimple">
            <thead>
                <tr>
                    <th>Araba</th>
                    <th>Yakıt Ofisi</th>
                    <th>Alınan litre</th>
                    <th>Ödenen Miktar</th>
                    <th>Götürdüğü km</th>
                    <th>Alım Tarihi</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Araba</th>
                    <th>Yakıt Ofisi</th>
                    <th>Alınan litre</th>
                    <th>Ödenen Miktar</th>
                    <th>Götürdüğü km</th>
                    <th>Alım Tarihi</th>
                </tr>
            </tfoot>
            <tbody>
                <tr>
                    <td>Araç 1</td>
                    <td>Shell</td>
                    <td>50</td>
                    <td>1200</td>
                    <td>600</td>
                    <td>2024-12-01</td>
                </tr>
                <tr>
                    <td>Araç 2</td>
                    <td>Opet</td>
                    <td>40</td>
                    <td>1000</td>
                    <td>500</td>
                    <td>2024-12-02</td>
                </tr>
                <tr>
                    <td>Araç 3</td>
                    <td>BP</td>
                    <td>60</td>
                    <td>1500</td>
                    <td>700</td>
                    <td>2024-12-03</td>
                </tr>
                <tr>
                    <td>Araç 4</td>
                    <td>Total</td>
                    <td>55</td>
                    <td>1300</td>
                    <td>650</td>
                    <td>2024-12-04</td>
                </tr>
                <tr>
                    <td>Araç 5</td>
                    <td>Shell</td>
                    <td>45</td>
                    <td>1100</td>
                    <td>550</td>
                    <td>2024-12-05</td>
                </tr>
                <tr>
                    <td>Araç 6</td>
                    <td>Opet</td>
                    <td>38</td>
                    <td>950</td>
                    <td>480</td>
                    <td>2024-12-06</td>
                </tr>
                <tr>
                    <td>Araç 7</td>
                    <td>BP</td>
                    <td>65</td>
                    <td>1600</td>
                    <td>750</td>
                    <td>2024-12-07</td>
                </tr>
                <tr>
                    <td>Araç 8</td>
                    <td>Total</td>
                    <td>52</td>
                    <td>1250</td>
                    <td>620</td>
                    <td>2024-12-08</td>
                </tr>
                <tr>
                    <td>Araç 9</td>
                    <td>Shell</td>
                    <td>47</td>
                    <td>1150</td>
                    <td>570</td>
                    <td>2024-12-09</td>
                </tr>
                <tr>
                    <td>Araç 10</td>
                    <td>Opet</td>
                    <td>42</td>
                    <td>1050</td>
                    <td>520</td>
                    <td>2024-12-10</td>
                </tr>
                <tr>
                    <td>Araç 11</td>
                    <td>BP</td>
                    <td>63</td>
                    <td>1550</td>
                    <td>730</td>
                    <td>2024-12-11</td>
                </tr>
                <tr>
                    <td>Araç 12</td>
                    <td>Total</td>
                    <td>54</td>
                    <td>1280</td>
                    <td>610</td>
                    <td>2024-12-12</td>
                </tr>
                <tr>
                    <td>Araç 13</td>
                    <td>Shell</td>
                    <td>48</td>
                    <td>1180</td>
                    <td>560</td>
                    <td>2024-12-13</td>
                </tr>
                <tr>
                    <td>Araç 14</td>
                    <td>Opet</td>
                    <td>41</td>
                    <td>1020</td>
                    <td>510</td>
                    <td>2024-12-14</td>
                </tr>
                <tr>
                    <td>Araç 15</td>
                    <td>BP</td>
                    <td>64</td>
                    <td>1580</td>
                    <td>740</td>
                    <td>2024-12-15</td>
                </tr>
                <tr>
                    <td>Araç 16</td>
                    <td>Total</td>
                    <td>53</td>
                    <td>1270</td>
                    <td>605</td>
                    <td>2024-12-16</td>
                </tr>
                <tr>
                    <td>Araç 17</td>
                    <td>Shell</td>
                    <td>46</td>
                    <td>1140</td>
                    <td>580</td>
                    <td>2024-12-17</td>
                </tr>
                <tr>
                    <td>Araç 18</td>
                    <td>Opet</td>
                    <td>39</td>
                    <td>970</td>
                    <td>490</td>
                    <td>2024-12-18</td>
                </tr>
                <tr>
                    <td>Araç 19</td>
                    <td>BP</td>
                    <td>62</td>
                    <td>1530</td>
                    <td>720</td>
                    <td>2024-12-19</td>
                </tr>
                <tr>
                    <td>Araç 20</td>
                    <td>Total</td>
                    <td>51</td>
                    <td>1240</td>
                    <td>600</td>
                    <td>2024-12-20</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>