{% if messages %}
    <div id="message-container" class="position-fixed top-0 end-0 p-3" style="z-index: 1050;">
        {% for message in messages %}
            <div class="toast align-items-center text-bg-{{ message.tags }}" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="d-flex">
                    <div class="toast-body">
                        {{ message }}
                    </div>
                    <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}

<script>
    // Tüm mesajları otomatik olarak 5 saniye sonra kapat
    document.addEventListener('DOMContentLoaded', () => {
        const toasts = document.querySelectorAll('.toast');
        toasts.forEach(toast => {
            const bsToast = new bootstrap.Toast(toast, { delay: 5000 });
            bsToast.show();
        });
    });
</script>
