<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">Core</div>
                <a class="nav-link" href="/">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    Gösterge Paneli
                </a>
                
                <div class="sb-sidenav-menu-heading">Bilgiler</div>
                <a class="nav-link" href="/charts">
                    <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                    Grafikler
                </a>
                <a class="nav-link" href="/tables">
                    <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                    Yakıt Alım Tablosu
                </a>
            </div>
        </div>
        <div class="sb-sidenav-footer">
            {% if user.is_authenticated %}
                <div class="small">Giriş Yapıldı:</div>
                {{ user.email }}        
            {% else %}
                <div class="small">Giriş Yapılmadı</div>
            {% endif %}
            
        </div>
    </nav>
</div>
